<h2>Pages#index</h2>
<p>Это черновик домашней страницы</p>
<p>Чтобы пройти дальше нужно зарегистрироваться - нужно имя и любая электронная почта</p>

<p>Pins - первая пробная страница </p>
<p>Rooms - проход на TimeReal Chat 
<ul>   
<li>- На чате - список зарегистрированных юзеров</li>
<li>- Список комнат для переговоров</li>
<li>- комнаты можно создавать на свое усмотренение, при этом откроется ссылка для прохода в комнату</li>
<li>- проходите по ссылке / появляется окошко для сообщения - пишите</li>
<li>- это все что успел сделать за сутки - дальше нужно создавать кучу (много) всяких микросервисов и делать приседаний</li>



</ul>
</p>
